﻿@model IEnumerable<Post>

@{
    ViewData["Title"] = "Home Page";

}


<div>
  @*  <ul>
        @foreach (var post in Model)
        {
            <li>
                <a asp-controller="Home" asp-action="Post" asp-route-id="@post.Id">
                    @post.Title
                </a>
                -

            </li>
        }

    </ul>*@
</div>
<html>
<style>
    h1, h2, h3, h4, h5, h6 {
        font-family: "Oswald"
    }

    body {
        font-family: "Open Sans"
    }
</style>
<body class="w3-light-grey">
    <div class="w3-content" style="max-width:1600px">

        <!-- Header -->
        <header class="w3-container w3-center w3-padding-16 w3-white ">
            <h1 class="w3-xxxlarge"><b>Food Recipes Blog</b></h1>
            <h6>Welcome to the blog of <span class="w3-tag">Best Food Recipes </span></h6>
        </header>

        <!-- Image header -->
        <header class="w3-display-container w3-wide" id="home">
            <img class="w3-image" src="~/content/static/bookk.jpeg" alt="food Blog" width="1600" height="800">
            <div class="w3-display-left w3-padding-large">
                <h1 class="w3-text-white">Food</h1>
                <h1 class="w3-jumbo w3-text-white w3-hide-small"><b> Recipes  BLOG</b></h1>
                <h6><button class="w3-button w3-white w3-padding-large w3-large w3-opacity w3-hover-opacity-off" onclick="document.getElementById('subscribe').style.display='block'">SUBSCRIBE</button></h6>
            </div>
        </header>
        <!-- Grid -->
        <div class="w3-row w3-padding ">
            @foreach (var post in Model)
            {

                var image_path = $"/Image/{post.Image}";
                <!-- Blog entries -->
                <div class="w3-center">


                    <!-- Blog entry -->
                    <div class="w3-container w3-white w3-margin w3-padding-large">

                        <div class="w3-center">

                            <h3>
                                <a asp-controller="Home" asp-action="Post" asp-route-id="@post.Id">
                                    @post.Title
                                </a>
                            </h3>




                            <h5> <span class="w3-opacity">@post.Created</span></h5>
                        </div>

                        <div class="w3-justify">
                            <img src="@image_path" style="width:70%" class="w3-padding-16 ">
                            <p>
                              
                             
                            </p>

                            <p class="w3-left"><button class="w3-button w3-white w3-border" onclick="likeFunction(this)"><b><i class="fa fa-thumbs-up"></i> Like</b></button></p>
                           
                              
                            </div>
                        </div>
                    </div>

                    <hr>


                

            }


            <!-- Subscribe Modal -->
            <div id="subscribe" class="w3-modal w3-animate-opacity">
                <div class="w3-modal-content" style="padding:32px">
                    <div class="w3-container w3-white">
                        <i onclick="document.getElementById('subscribe').style.display='none'" class="fa fa-remove w3-transparent w3-button w3-xlarge w3-right"></i>
                        <h2 class="w3-wide">SUBSCRIBE</h2>
                        <p>Join my mailing list to receive updates on the latest blog posts and other things.</p>
                        <p><input class="w3-input w3-border" type="text" placeholder="Enter e-mail"></p>
                        <button type="button" class="w3-button w3-block w3-padding-large w3-red w3-margin-bottom" onclick="document.getElementById('subscribe').style.display='none'">Subscribe</button>
                    </div>
                </div>
            </div>


            <script>
                // Toggle between hiding and showing blog replies/comments
                document.getElementById("myBtn").click();
                function myFunction(id) {
                    var x = document.getElementById(id);
                    if (x.className.indexOf("w3-show") == -1) {
                        x.className += " w3-show";
                    } else {
                        x.className = x.className.replace(" w3-show", "");
                    }
                }

                function likeFunction(x) {
                    x.style.fontWeight = "bold";
                    x.innerHTML = "✓ Liked";
                }
            </script>

</body>
</html>