﻿@model  Post

@{
    ViewData["Title"] = "Home Page";
}

    <div class="container">
        <div class="post no-shadow">
            <h2>@Model.Title</h2>
            <hr />
            @if (!String.IsNullOrEmpty(Model.Image))
            {
                var image_path = $"/Image/{Model.Image}";
                <img src="@image_path" style="width:70%" class="w3-padding-8  ">
            }
            <hr />
        </div>
        <p>@Model.Body</p>


 


<h3>Make a Comment</h3>
        <div class="comment-section">
            @{
                await Html.RenderPartialAsync("_MainComment", new CommentViewModel { PostId = Model.Id, MainCommentId = 0 });
            }

          


        </div>
        <table class="table">
            <thead>
                <tr>
                    <th>
                        @Html.DisplayNameFor(model => model.MainComments)
                    </th>
                    <th>
                     
                    </th>
                 
                </tr>
            </thead>
            <tbody>
                @foreach (var c in Model.MainComments)
                {
                    <tr>
                        <td>
                            @c.Message
                        </td>

                        <td>
                            @c.Created
                        </td>

                    </tr>
                }
            </tbody>
        </table>
        <body style="background-color:blanchedalmond">
        </body>
    </div>
       