﻿@model PostViewModel

@{

}


<div class="row">
    <div class="col-md-4">
        <form asp-controller="Panel" asp-action="Edit" method="Post" enctype="multipart/form-data">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <input type="hidden" asp-for="Id" />
            <div class="form-group">
               <h4> <label asp-for="Title" class="control-label"></label></h4>
                <input asp-for="Title" class="form-control" />
                <span asp-validation-for="Title" class="text-danger"></span>
            </div>
            <div class="form-group">
               <h4> <label asp-for="Body" class="control-label"></label></h4>
                <input asp-for="Body" class="form-control" />
                <span asp-validation-for="Body" class="text-danger"></span>
            </div>
            <div class="form-group">
               <h4> <label asp-for="Image" class="control-label"></label></h4>
                <input asp-for="Image" class="form-control-file" />
                <span asp-validation-for="Image" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Save" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
   <h5> <a asp-action="Index">Back to List</a></h5>
</div>
@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
<body style="background-color:powderblue;"></body>