﻿@model IEnumerable<Post>

@{
    ViewData["Title"] = "Home Page";
}
<br />

<h2><i>Admin panel</i></h2>
<br />
<br />
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Title)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Image)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var post in Model)
        {
            <tr>
                <td>
                    @post.Title
                </td>
             
                <td>
                  @post.Image
                </td>
                <td>
                    -
                    <a asp-controller="Panel" asp-action="Edit" asp-route-id="@post.Id">
                        Edit
                    </a>
                    -
                    <a asp-controller="Panel" asp-action="Remove" asp-route-id="@post.Id">
                        Remove
                    </a>
                </td>
            </tr>
        }
    </tbody>
</table>
<body style="background-color:whitesmoke">
</body>